<launch>
    <node name="first" pkg="order_test" type="first.py" />
    <node name="second" pkg="order_test" type="second.py" />
    <!-- <node name="third" pkg="order_test" type="third.py" />
    <node name="fourth" pkg="order_test" type="fourth.py" /> -->
    <node name="receiver" pkg="order_test" type="receiver.py" output="screen"/>
</launch>
    
